

body, .app-background {
  background-color: rgb(227, 223, 223);
}

.control-style{
  font-weight: bold; 
}
.content-background{
  background-color: white; 
}

.btn-panel {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #BBB9B9;
}

.margin1 {
  margin-right: 5px;
}

.post-panel {
  padding: 0px; 
  border-width: 0px; 
}

.new-comment {
  margin-top: 5px; 
  margin-bottom: 15px;
}

.post-header, .post-footer, .vote-button, .post-footer-button{
  background-color: #626262; 
}
.post-header, .post-footer {
  margin: 0px; 
  color: white;  
}

.post-title{
  font-weight: bold;
  font-size: 14px; 
}

.post-author{
  font-style: italic;
  margin-left: 10px; 
}

.post-sub-header{
  padding-left: 2px;
  padding-right: 2px; 
}

.post-category{
  margin-right: 15px;
}

.vote-score{
  margin-right: 5px;
}

.readables-arrow-button {

  box-shadow: none;
}

.post-footer-button, .post-footer-link, .readables-arrow-button {
  color: #C6E8F6;
}

.post-footer-button:hover, .post-footer-link:hover, .readables-arrow-button:hover{
  color: #F6D55B
}

.vote-button.active.focus, .vote-button.active:focus, .vote-button.focus, .vote-button:active.focus, .vote-button:active:focus, .vote-button:focus {
  outline: 0;
}

.post-footer-link{
  margin-left: 5px;
  margin-right: 5px;
}

.number-of-comments {
  margin-left: 10px; 
  margin-right: 10px;
}

.post-footer-button {
  padding: 0;
  border: none;
  outline: 0;
  margin-left: 5px; 
}

.comment-date-time {
  margin-left: 5px; 
}


.post-deleted{
  color: #141313; 
  text-align: center; 
  font-size: 20px;
}