

body, .app-background {
  background-color: #aaaaaa;
}

.control-style{
  font-weight: bold; 
}
.content-background{
  background-color: white; 
}

.btn-panel {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #BBB9B9;
}

.margin1 {
  margin-right: 5px;
}

.post-panel {
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-left: 5px; 
  padding-right: 5px; 
}

.new-comment {
  margin-top: 5px; 
  margin-bottom: 15px;
}